@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Stick+No+Bills:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-image:linear-gradient(rgba(255, 239, 199, 0.921),rgba(0, 0, 0, 0.6)),url(background.jpg);
    background-size: 1520px 900px;
    background-repeat: no-repeat;
}

#navbar {
    height: 80px;
    width: 100%;
    border: 1px rgba(255, 239, 199, 0.921) solid;
    box-shadow: 0px 0px 5px 3px;
}

label.heading {
    color: black;
    font-size: 50px;
    line-height: 80px;
    padding: 0 40px;
    font-weight: bold;
    font-family: 'Stick No Bills', sans-serif;
}

.fa-solid {
    color: #f59709;
}

#navcontent {
    float: right;
    margin: right;
    display: inline-flex;
}

.navicon {
    font-size: 30px;
    display: inline-flex;
    gap: 20px;
    margin: 21px 32px;
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    width: 60px;
    border: 2px solid;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0px;
    position: absolute;
    font-size: 10px;
    font-family: system-ui;
    font-weight: bold;
    box-shadow: 0px 1px 1px 0px;
}

#login:hover .tooltiptext {
    visibility: visible;
}

#currentlocation:hover .tooltiptext {
    visibility: visible;
}




/*Display Container */
.container {
    display: grid;
    height: 500px;
    align-items: center;
    text-align: center;
    margin: 8px auto;
    padding: 10px;
    -webkit-text-fill-color: #fff;

}


/*search bar css*/
.search-box {
    width: 400px;
    height: 38px;
    background: #fff;
    margin: 20px 10px 0;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px;
}

.search-row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

#search {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    background: transparent;
    color: #333;
}

button {
    background: transparent;
    outline: none;
    border: none;
}

button .fa-solid {
    width: 25px;
    color: #555;
    font-size: 1rem;
    cursor: pointer;
}

::placeholder {
    color: #555;
}

.suggestion-box ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.suggestion-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.suggestion-box ul li:hover {
    background: #e9f3ff;
}

.suggestion-box {
    background-color: #c2d2de;
    border-radius: 5px;
    max-height: 130px;
    overflow: hidden;

}

.inv {
    visibility: hidden;
}

.sun {
    background-image: linear-gradient(rgba(242, 255, 0, 0.921), rgba(0, 0, 0, 0.6)), url(gif.gif);
    background-repeat: no-repeat;
    background-size: 100%;

}

.cloud-bolt {
    background-image: linear-gradient(rgba(57, 57, 49, 0.921), rgba(0, 0, 0, 0.6)), url(gif.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

.snowflake {
    background-image: linear-gradient(rgba(255, 255, 255, 0.921), rgba(0, 0, 0, 0.6)), url(gif.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

.smog {
    background-image: linear-gradient(rgb(138, 138, 138), rgba(0, 0, 0, 0.6)), url(gif.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

.cloud {
    background-image: linear-gradient(rgba(0, 4, 255, 0.921), rgba(0, 0, 0, 0.6)), url(gif.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

.rain {
    background-image: linear-gradient(rgba(0, 242, 255, 0.921), rgba(0, 0, 0, 0.6)), url(gif.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    animation-direction: alternate-reverse;
}

#img {
    font-size: 250px;
    margin-right: 10px;
    -webkit-text-fill-color: #fff;
}

#temp {
    font-size: 150px;
    float: left;
    margin-top: -48px;
    font-weight: bold;
    text-shadow: 0pc 0pc 1pc;


}


#city {
    font-size: 25px;
    float: left;
    margin-top: -160px;
    text-shadow: 0pc 0pc 1pc;
}
#weathercondition {
    font-size: 25px;
    float: left;
    margin-top: -80px;
    text-shadow: 0pc 0pc 1pc;
}
#country {
    font-size: 25px;
    float: left;
    margin-top: -120px;
    text-shadow: 0pc 0pc 1pc;

}
#feels_like {
    font-size: 25px;
    float: left;
    margin-top: -40px;
    text-shadow: 0pc 0pc 1pc;

}
#humidity {
    font-size: 25px;
    float: left;
    margin-top:0px;
    text-shadow: 0pc 0pc 1pc;
}