@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Stick+No+Bills:wght@800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image:linear-gradient(rgba(255, 239, 199, 0.921),rgba(0, 0, 0, 0.6)),url(background.jpg);
    background-size:auto;
    background-repeat: no-repeat;
}
#navbar {
    height: 70px;
    width: 100%;
    border: 1px rgba(255, 239, 199, 0.921) solid;
    box-shadow: 0px 0px 5px 3px;
}
label.heading {
    color: black;
    font-size: 45px;
    line-height: 75px;
    padding: 0 70px;
    font-weight: bold;
    font-family: 'Stick No Bills', sans-serif;
}

.fa-solid {
    color: #f59709;
}

#navcontent {
    float: right;
    margin: right;
    display: inline-flex;
}

.navicon {
    font-size: 28px;
    display: inline-flex;
    gap: 18px;
    margin: 15px 32px;
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    width: 60px;
    border: 1px solid;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px 0px;
    position: absolute;
    font-size: 9px;
    font-family: system-ui;
    font-weight: bold;
    box-shadow: 0px 1px 1px 0px;
}

#logout:hover .tooltiptext {
    visibility: visible;
}

#currentlocation:hover .tooltiptext {
    visibility: visible;
}
.search-box {
    width: 400px;
    height: 40px;
    background: #fff;
    margin: 15px 10px ;
    padding: -30px 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px;
}

.search-row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

#search {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    background: transparent;
    color: #333;
}

button {
    background: transparent;
    outline: none;
    border: none;
}

button .fa-solid {
    width: 25px;
    color: #555;
    font-size: 1rem;
    cursor: pointer;
}

::placeholder {
    color: #555;
}

.suggestion-box ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.suggestion-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 10px 10px;
    cursor: pointer;
}

.suggestion-box ul li:hover {
    background: #fff;
    -webkit-text-fill-color:#f59709;
}

.suggestion-box {
    background-color: #f59709;
    border-radius: 5px;
    max-height: 115px;
    overflow: hidden;
    -webkit-text-fill-color: #fff;

}
.inv {
    visibility: hidden;
}
.container {
    display: grid;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    -webkit-text-fill-color: #fff;

}


































































.container {

    /* border: 1px solid black; */
    border-radius: 25px;
    width: 350px;
    height: 400px;
    align-items: center;
    text-align: center;
    margin: 25px auto;
    padding: 15px;
    background: linear-gradient(rgb(179, 165, 235), rgb(133, 211, 250));

}
.container1{
    border-radius: 25px;
    width: 200px;
    height: 150px;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    padding: 15px;
    background: linear-gradient(rgb(179, 165, 235), rgb(133, 211, 250));

}













#all,#all1{
    display: flex;
    /* justify-content: space-evenly; */
}




